!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 
      = ::Rails.application.config.app_admin_name
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag 'admin/application', media: 'all'
    = csrf_meta_tags
  %body{"ng-app" => "app"}
    #layout_container
      = render :file => "layouts/admin/head"
      .row
        -# 左侧菜单
        .col-md-2
          = render :file => "layouts/admin/menu"
        -# 主界面
        .col-md-10
          #content_for_layout
            -# {"ng-view" => true}
            = render :file => "layouts/admin/index"

    %footer.text-center<
      %h4<
        = ::Rails.application.config.owner
        版权所有

    -# load scripts
    = javascript_include_tag 'admin/application'
    - if params[:action] == 'tree'
      = javascript_include_tag 'admin/base_tree'
    - else params[:action] == 'index' 
      = javascript_include_tag 'admin/base_list'
    = javascript_include_tag "#{params[:controller]}" if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
    = yield :scripts
