!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 
      = ::Rails.application.config.app_admin_name
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    %link{:href => "/assets/admin/vendor.css", :media => "all", :rel => "stylesheet"}
    %link{:href => "/assets/admin/app.css", :media => "all", :rel => "stylesheet"}
    = csrf_meta_tags
  %body{"ng-app" => "app"}
    #layout_container
      = render :file => "layouts/admin/head"
      .row
        -# 左侧菜单
        %aside#sidebar.col-md-2.class.visible-md-block.visible-lg-block.hidden-print
          = render :file => "layouts/admin/menu"
        -# 主界面
        .col-xs-12.col-sm-12.col-md-10.col-lg-10
          #content_for_layout
            -# {"ng-view" => true}
            = render :file => "layouts/admin/index"

    %footer.text-center<
      %h4<
        = ::Rails.application.config.owner
        版权所有

    -# load scripts
    %script{:src => "/assets/admin/vendor.js"}
    %script{:src => "/assets/admin/app.js"}
    -#%script{:src => "/assets/admin/root.js"}
      %script{:src => "/assets/admin/validation.js"}
      %script{:src => "/assets/admin/crud.js"}
      %script{:src => "/assets/admin/filters.js"}
      %script{:src => "/assets/admin/directives.js"}
      %script{:src => "/assets/admin/util.js"}
    - if params[:action] == 'tree'
      %script{:src => "/assets/admin/tree.js"}
    - else params[:action] == 'index' 
      %script{:src => "/assets/admin/list.js"}

    = yield :scripts
    - if File.file?("./public/assets/#{params[:controller]}.js")
      %script{:src => "/assets/#{params[:controller]}.js"}
    - else
      - if params[:action] == 'index' 
        %script
          app.controller("#{params[:controller].camelize}Controller", ['$scope', '$element', 'list', function($scope, $element, list) {list.extend($scope, $element);}]);
