- content_for :list_toolbar do
  .col-lg-8.input-group.pull-left
    = render "admin/shared/btn_add"
    = render "admin/shared/btn_bulk_delete"
  .col-lg-4.input-group.pull-right
    = render "admin/shared/toolbar_search"

- content_for :list_thead do
  %th.text-center 名称
  
- content_for :list_tbody do
  %td{"ng-bind" => "item.username"}

- content_for :list_buttons do
  %a.btn.btn-sm.btn-primary{:title => "授权", "ng-click" => "editMenu(item);"}
    %i.fa.fa-user.fa-lg
  = render "admin/shared/btn_edit"
  = render "admin/shared/btn_delete"

- content_for :edit_form_controls do
  .form-group
    %label.col-md-2.control-label{:for => "username"} 名称
    .col-md-10
      %input#username.form-control{"ng-model" => "itemModel.username", :type => "text", :placeholder => "名称", :maxlength => "20", :required => true, :unique => true}
  .form-group
    %label.col-md-2.control-label{:for => "passowrd"} 密码 
    .col-md-10
      %input#password.form-control{"ng-model" => "itemModel.password", :type => "password", :placeholder => "密码", :maxlength => "20", :required => true}
